
body {
    background-size: cover;
    background-color: rgb(32, 31, 31);

}
.registration-form{
    background-color: paleturquoise;
    width: 28%;
    border-radius: 10px;
    margin: 110px auto;
    padding: 52px;
    box-shadow: 12px 12px 6px rgb(250, 248, 248);
}
.registration-form h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
}
.registration-form p{
    font-size: 20px;
    margin: 15px;
}
.registration-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px
}
   .registration-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 5px;
    background-color: aliceblue;
   }
   .registration-form button:hover{
    color: black;

   }
